 /* Cores utilizadas no projeto #1b357e; #1351d8; */

 /* Fonte definida para o projeto */ 
 body {
    font-family: 'Ford';
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
/* Conteudo principal */
    main {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: flex-start;
    width: 100%;
    height: 20px;
}
 /* Cabecalho do site */
    header {
     display: flex;
     width: 100%;
}
/* Rodapé do site */
    footer {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #1b357e;
     padding: 0%;
     bottom: 0;
     position: fixed;
     width: 100%;
     height: 7%;
}
/* Logo Ford do cabecalho */
    .logo-ford {   
     background-color: #ffffff;
     display: flex;
     width: 10%;
}
    * {margin: 0;
        padding: 0;
}
    .logo-ford img {
     width: 100%;
}
 /* Menu de navegacao do cabecalho */
     .menu-de-navegacao {
     background-color: #ffffff; 
     color:#1b357e;
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
}
    nav {
    display: flex;
    list-style: none;
}
    nav a {
    text-decoration: none;
    color: #1b357e;
    font-weight: bold;
}
 /* Definindo espacamento entre os links */
    .menu-de-navegacao a {
     margin: 10px;
}
    .menu-de-navegacao {
    width: 80%;
}
/* Conteudo principal */
    .principal{
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 10%;
    }
 /* Rodape de redes sociais */
    .redes-sociais {
     display: flex;
     justify-content: left;
     color: #ffffff;
     align-items: center;
}
    .logo-ford-rodape {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    padding: 1.1%;
    color: #ffffff;
}
    .redes-sociais img {
    margin: 0% 2%;
}
    .redes-sociais img:hover {
    transform: scale(1.2);
    transition: 0.2s;
}


